[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore.global
  pager = diff-so-fancy | less --tabs=2 -RFX

[credential]
	helper = cache --timeout=3600

[include]
  path = ~/.gitconfig.local
  
[url "https://"]
	insteadOf = git://
