[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore.global
  pager = delta
	editor = code --wait

[interactive]
  diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[credential]
  helper = cache --timeout=3600

[include]
  path = ~/.gitconfig.local

[url "https://github.com"]
	insteadOf = git://github.com

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  insteadOf = "gist:"
  insteadOf = "git://gist.github.com/"

[url "git@heroku.com:"]
  insteadOf = "heroku:"

[push]
  default = simple

[pull]
  rebase = false

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1
[init]
	defaultBranch = main

[alias]
  oops = commit --amend --reuse-message=HEAD
